@{
    ViewData["Title"] = "Home Page";
}
@if (User.Identity.IsAuthenticated)
{
    <p>Authorize: @User.Identity.IsAuthenticated</p>
    <p>UserName: @User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="LogOff">
        <input type="submit" value="Exit" />
    </form>
}
else
{
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Login">Login</a>
    <br>
    <a class="btn btn-sm btn-primary" asp-controller="Account" asp-action="Register">Register</a>

}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
